<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
  </style>
  <body style="margin: 0; padding: 0; font-family: Roboto, sans-serif">
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      align="center"
      bgcolor="#f7f7f7"
    >
      <tr>
        <td align="center">
          <table
            width="360"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              padding: 20px;
              margin: 20px auto;
              border-radius: 20px;
              overflow: hidden;
              width: 600px;
              max-width: 100%;
              background-color: none;
              padding: 0px 0px;
            "
          >
            <tr>
              <td>
                <!-- Put your email content here -->
                <!-- Header -->
                <!-- Header -->
                <div
                  style="
                    margin-bottom: 0px;
                    background-color: #fff;
                    border-bottom: 1px solid #e2e2e2;
                    padding: 16px 20px;
                    padding-top: 22px;
                  "
                >
                  <img
                    src="/src/images/logo.png"
                    alt="wayoya logo"
                    style="height: 30px"
                  />
                </div>

                <!-- Review Received -->
                <div style="background-color: #fffeff; padding-bottom: 10px; padding-top: 10px;">
                  <div
                    style="padding: 20px; border-radius: 8px; padding-bottom: 0px"
                  >
                    <h2
                      style="
                        margin: 0;
                        color: #38445e;
                        font-size: 23px;
                        display: flex;
                        gap: 3px;
                      "
                    >
                      Activate your account
                    </h2>
                    <p
                      style="
                        margin-top: 14px;
                        font-weight: 400;
                        font-size: 17px;
                        color: #38445e;
                        line-height: 27px;
                        font-family: 'Roboto';
                      "
                    >
                      Hey Askoli Adventure Treks & Tours, Thanks for signing up with travelninja!
                      <br>
                      <br>
                      Before we can set up your supplier account, Please confirm your email address.
                  </div>
              
                  <!-- Buttons -->
                  <div style="width: 100%; margin-bottom: 20px; text-align: center">
                    <a
                      href="#"
                      style="
                        background-color: #009986;
                        color: #fff;
                        padding: 15px 25px;
                        font-size: 17px;
                        font-weight: bold;
                        font-family: 'Roboto';
                        text-decoration: none;
                        border-radius: 12px;
                        margin: 12px;
                        width: 35%;
                        display: inline-block;
                      "
                      >Activate my account</a
                    >
                  </div>

                  <!-- Notes -->
                  <div
                  style="
                    padding: 20px;
                    padding-top: 0px;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 27px;
                    color: #38445e;
                    border-top: 1px solid #e2e2e2;
                  "
                >
                  <p style="margin-bottom: 2px">
                    Once activated, your account will move into review by our team. You'll be notified as soon as it's approved and ready to go live.
                    <br>
                    <br>
                    If you didn't sign up, you can safely ignore this email.
                  </p>
                </div>

                                    <!-- Links -->
                                    <div
                                    style="
                                      padding-left: 20px;
                                      padding-bottom: 4px;
                                      border-top: 1px solid #e2e2e2;
                                      font-size: 13px;
                                      font-weight: 400;
                                      color: #283456;
                                    "
                                  >
                                    <p style="margin-bottom: 0px;">
                                      <a href="#" style="color: #999999; text-decoration: underline;">Supplier Terms and Conditions</a>
                  |
                                      <a href="#" style="color: #999999; text-decoration: underline;">FAQs</a>
                                   </p>
                                  </div>
                </div>
                

                  
                <!-- Footer -->
                <div
                  style="
                    margin-top: 0px;
                    border-top: 1px solid #e2e2e2;
                    padding: 10px 20px;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    background-color: #fffeff;
                  "
                >
                  <div
                    style="
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;
                      align-items: flex-start;
                    "
                  >
                    <div>
                      <div style="text-align: left">
                        <p
                          style="
                            margin: 0;
                            font-size: 13px;
                            color: #283456;
                            font-weight: 500;
                          "
                        >
                          Follow us
                        </p>
                        <div style="margin-top: 8px">
                          <a href="#"
                            ><img
                              src="/src/images/social.png"
                              alt="Facebook"
                              width="24"
                              style="width: 110px; margin: 0 0px"
                          /></a>
                        </div>
                      </div>
                    </div>
                    <div
                      style="
                        border-left: 1px solid #e2e2e2;
                        padding-left: 10px;
                        margin-left: 80px;
                        width: 45%;
                      "
                    >
                      <p
                        style="
                          font-size: 13px;
                          padding-bottom: 20px;
                          margin: 0;
                          color: #707d99;
                          line-height: 20px;
                        "
                      >
                        1st Floor, Building C-163, Labor square,
                        Korangi, Karachi, Pakistan.
                        <br>
                        <br>
                        © 2026 travelninja
                      </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
